
.item-cont {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:beige;
    border: 2px solid #ff8c00;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 5px;
    transition: transform 0.3s ease;
    margin: 5px;
      
  }
  
  .img-producto {
    width: 50%;
    
  }

  .imgProductoItem{
    width: 100%;
  }
  
  
  
  .div-derecho {
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 50%;

    p{
      color: #1d1d1d;
    }

    button{
      font-family: 'Graduate';
    }
    
    
    
  }

  
  
  h3 {
    color: #1d1d1d;
    font-size: 15px;
  }
  
  p {
    color: #555;
    font-size: 16px;
    margin: 5px 0;
  }
  
  button {
    padding: 10px 20px;
    margin-bottom: 5px;
    background-color: #ff8c00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #f96d00;
  }
  