.contador_conteiner{
    display: flex;
    flex: row;
    align-items: center;
}

.button-agregar{
    font-family: graduate;
}


.button-contador{
    background-color:#FFE4C4 ;
    font-size: 2rem;
    color: black;
}

.p_contador{
    font-size: 1.5rem;
    color: black;
}
