.carrito-vacio{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img{
        width: 10%;
    }

    
}

.button_vacio{
    font-family: graduate;
    width: 100%;
    margin: 15px;
}

.carrito-gral{
    border: black solid;
    border-radius: 30px;
    margin: 20px;
    padding: 20px;
}

.botones-cart{
    margin: 10px;
    width: 200px;
    color: black;
    font-family: graduate;

}