
/* Header */

@keyframes rotar {
  from {
    rotate: 359deg;
  }
  to {
    rotate: 0deg;
  }
}

header {
  
  width: 100%;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1d1d1d;
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 1280px;
  border-radius: 0 0 20px 20px;
}

/* Logo */
header .img-nav {
  width: 100px;
  
  animation: rotar 3s ease-in-out infinite;
}

/* Nav styles */
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  text-decoration: none; 
}

nav ul li:hover {
  color: #ff8c00; 
}


.CartWidget {
  background-color: #ff8c00;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


header .CartWidget {
  margin-right: auto; 
}

.CartWidget:hover {
  background-color: #f96d00;
}

@media (max-width: 768px) {

  header {
    display: flex;
    flex-direction: column;
    max-width: 768px;
  }

  nav{
    max-width: 100%;
  }

  header .CartWidget {
    display: none;
  }
  
}
