/* ItemList.css */
.contenedor-item {
    display: grid;
    grid-template-columns:1fr 1fr ;
    width: 100%;
    
    column-gap: 10px;
    row-gap: 10px;
    
    
  }
  
  @media (max-width: 768px) {
    .contenedor-item {
      grid-template-columns: 1fr; 
    }
  }
  